<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
    
    <div class="fluid-container about-row"
                            style=" background-image:url(assets/aboutimg.jpg.jpg);background-position: bottom;background-repeat: no-repeat; background-size: cover;">
        <div>
            <div class="container">
                <div class="row about-row ">
                    <div class="col-lg-6 about-page">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  about-container">
        <div class="row about-roww">
            <div class="col-lg-6">
                <img class="img-about" src="assets/choose_us (1).png">
            </div>
            <div class="col-lg-6">
                <h2 class="about-heading1">WHy We Choose Us</h2>
                <h2 class="about-heading2">
                    Experience Excellence in Loan Review and Comparison
                </h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur, accusamus impedit, qui
                        dolorem voluptates repellendus modi, illo quo eum numquam quam maxime quisquam expedita
                        accusantium recusandae totam perspiciatis aliquid rem repellat porro! Temporibus labore nisi
                        autem ratione. Recusandae, laudantium?</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="review">
                            <h6>Compricive review</h6>
                        </div>
                        <div class="review">
                            <h6>Compricive review</h6>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review">
                            <h6>Compricive review</h6>
                        </div>
                        <div class="review">
                            <h6>Compricive review</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container  about-container">
        <div class="row  about-roww">
            <div class="col-lg-6">
                <div>
                    <h2 class="about-heading1">About Us</h2>
                    <h2 class="about-heading2">
                        Your Trusted Source for Loan Reviews and Comparison
                    </h2>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur, accusamus impedit, qui
                        dolorem voluptates repellendus modi, illo quo eum numquam quam maxime quisquam expedita
                        accusantium recusandae totam perspiciatis aliquid rem repellat porro! Temporibus labore nisi
                        autem ratione. Recusandae, laudantium?</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <h6>Compricive review</h6>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div>
                            <h6>Compricive review</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. simos laboriosam.</p>
                        </div>
                </div>
                    <div class="col-lg-6">
                        <div>
                            <h6>Compricive review</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                        <div>
                            <h6>Compricive review</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-about" src="assets/about_us (1).png">
            </div>
        </div>
    </div>
    <div class="fluid-container main-card">
        <div class="container service-container">
            <div class="row service-row">
                <div class="col-lg-12  service-colum1">
                    <div class="row Services-row1">
                <div class="col-lg-5  services-col2">
                    <div class="our-services">
                    <div class="div1">
                        <h5 class="heading1">Our Services</h5>
                    </div>
                    <div>
                        <h2 class="headings">We Provide a lot OF cool Services</h2>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur at magnam quisquam adipisci
                            pariatur? Doloribus eius itaque aspernatur minima possimus.</p>
                    </div>
                    <div ><a class="btns" href="About.html"><button class="btn-services">Our Services</button></a></div>
                 </div>
            </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card-services">
                                <div>
                                <div class="card-icon">
                                    <div class="second-icon">
                                        <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                    </div>
                                </div>
                                <div class="card-heading2">
                                    <h5>Services</h5>
                                </div>
                            <div class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                            </div>
                            </div>
                        </div>
                            <div class="card-services">
                                <div>
                                    <div class="card-icon">
                                        <div class="second-icon">
                                            <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                        </div>
                                    </div>
                                    <div class="card-heading2">
                                        <h5>Services</h5>
                                    </div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card-services">
                                <div>
                                    <div class="card-icon">
                                        <div class="second-icon">
                                            <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                        </div>
                                    </div>
                                    <div class="card-heading2">
                                        <h5>Services</h5>
                                    </div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                                </div>
                                </div>
                            </div>
                            <div class="card-services">
                                <div>
                                    <div class="card-icon">
                                        <div class="second-icon">
                                            <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                        </div>
                                    </div>
                                    <div class="card-heading2">
                                        <h5>Services</h5>
                                    </div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div>
                    <div class="card-services">
                        <div>
                            <div class="card-icon">
                                <div class="second-icon">
                                    <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                </div>
                            </div>
                            <div class="card-heading2">
                                <h5>Services</h5>
                            </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                        </div>
                        </div>
                    </div>
                    <div class="card-services">
                        <div>
                            <div class="card-icon">
                                <div class="second-icon">
                                    <i class="fa fa-cog fa-spin" style="font-size:34px"></i>
                                </div>
                            </div>
                            <div class="card-heading2">
                                <h5>Services</h5>
                            </div>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing necessita
                        </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
       <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
                                    class="fa fa-angle-double-right"></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a
                        Registered MSP/ISO of Elavon, Inc. Georgia india</p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com"
                            target="_blank">BESTTECH</a></p>
                </div>
                </hr>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>
